@import url(http://fonts.googleapis.com/css?family=Anton);

* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:before, :after { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

header {
  background-color: #555;
  width: 100%;
  padding: 0 20px;
}

header h1 {
  font-family: 'Anton', sans-serif;
  margin: 0;
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  line-height: 2;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

#signin {
  margin-top: 11px;
}

.cover {
  padding: 120px 0;
  background-color: #fff;
}

.cover h1 {
  margin: 0;
  color: #555;
  font-size: 50px;
  font-weight: 600;
}

.cover p {
  font-size: 18px;
}

.features {
  background-color: #eee;
  height: 400px;
}