<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>  
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="connection.datasource">java:comp/env/jdbc/MyApp</property>             
        <property name="hibernate.show_sql">true</property>  
        <property name="hibernate.format_sql">true</property>  
        <property name="hibernate.c3po.min_size">5</property>  
        <property name="hibernate.c3po.max_size">20</property>  
        <property name="hibernate.c3po.timeout">300</property>  
        <property name="hibernate.c3po.max_statements">50</property>  
        <property name="hibernate.c3po.idle_test_period">3000</property>  
          
        <property name="show_sql">true</property>  
        <property name="format_sql">false</property>  

        <mapping class="br.com.ufjf.model.main.Adminuser"/>
        <mapping class="br.com.ufjf.model.main.Artifact"/>
        <mapping class="br.com.ufjf.model.main.ArtifactsUsed"/>
        <mapping class="br.com.ufjf.model.main.Communication"/>
        <mapping class="br.com.ufjf.model.main.HowTable"/>
        <mapping class="br.com.ufjf.model.main.Notes"/>
        <mapping class="br.com.ufjf.model.main.Rationale"/>
        <mapping class="br.com.ufjf.model.main.User"/>
        <mapping class="br.com.ufjf.model.main.Roles"/>
        <mapping class="br.com.ufjf.model.main.WhatTable"/>
        <mapping class="br.com.ufjf.model.main.WhenTable"/>
        <mapping class="br.com.ufjf.model.main.WhereTable"/>
        <mapping class="br.com.ufjf.model.main.WhoTable"/>
    </session-factory>
</hibernate-configuration>
